<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">

</head>
<body>


    <div class="container">
        <h4 >Cadastro de Auno</h4>

        <br/>

        <div class="row">
            <input id="alunoId" type="number" name="alunoId">
            <label for="alunoId">Aluno Id</label>
        </div>

        <br/>

         <div class="row">
             <input id="nomeAluno" type="text" name="nomeAluno">
             <label for="nomeAluno">Nome do Aluno</label>
         </div>

        <br/>

         <div class="row">
             <input id="idadeAluno" type="number" name="idadeAluno">
             <label for="idadeAluno">Idade Do Aluno</label>
         </div>

        <br/>

         <div class="form-group">
             <button  id="Cadastrar" name="Cadastrar"
                     type="Submit">Cadastrar
             </button>
         </div>
    </div>
</body>
</html>